@use "../abstracts/colors" as *;
@use "../abstracts/fonts" as *;
@use "../abstracts/mixins" as *;

.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  position:relative;
  left: 0;
  bottom: 0;
  width: 100%;


  padding: 2em 0;

  margin-top: auto;
  border-top: 0.1em solid $clr-dark;

  @include mobile {
    padding: 1.5em 0;
  }

  h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: $f-w-600;
  }
}