@use "../abstracts/colors" as *;
@use "../abstracts/fonts" as *;
@use "../abstracts/mixins" as *;

.navbar-mobile {
  display: none;

  @include tablet {
    display: flex;
    justify-content: center;

    position: fixed;
    top: 0;
    z-index: 20;

    width: 100%;
    border-bottom: 0.1rem solid $clr-dark;
    background-color: $clr-primary;

    font-family: "Great Vibes", cursive;
    font-size: $f-s-800;
    font-weight: $f-w-400;
    letter-spacing: 0.2rem;
    color: $clr-dark;

    a {
      padding: 1em 0;
      transition: all 300ms;

      &:hover,
      &:focus {
        background-color: $clr-primary;
        color: $clr-secondary;
      }

      &:active {
        background-color: $clr-primary;
        color: $clr-secondary;
      }
    }
  }
}
