$clr-primary: hsl(339, 81%, 85%);
$clr-primary-dark: hsl(339, 35%, 67%);
$clr-secondary: hsl(177, 100%, 34%);
$clr-secondary-dark: hsl(177, 100%, 27%);
$clr-dark: hsl(180, 26%, 16%);
$clr-white: hsl(0, 0%, 100%);