@use "../abstracts/colors" as *;
@use "../abstracts/fonts" as *;
@use "../abstracts/typography" as *;

.hero {
  margin: 0 auto;
  padding-top: 15em;
  padding-bottom: 5em;
  border-bottom: 0.1em solid $clr-dark;

  background-color: $clr-primary;

  h1 {
    padding-bottom: 0.7em;
    font-family: "Great Vibes", cursive;
    font-size: $f-s-3000;
  }

  &__title {
    text-align: center;
  }

  &__date {
    display: flex;
    justify-content: center;

    padding-top: 2em;
    padding-bottom: 3em;

    font-family: "Montserrat", sans-serif;
    span {
      width: 20vw;
      padding: 0.7em 0;

      font-size: $f-s-500;
      color: $clr-dark;
      text-align: center;

      border-top: 0.1em solid $clr-dark;
      border-bottom: 0.1em solid $clr-dark;
    }
  }

  &__button {
    display: flex;
    justify-content: center;

    width: 20vw;
    margin: 0 auto;
    padding: 1em 0;
    border: 0.1em solid $clr-dark;
    background: $clr-secondary;

    font-family: "Montserrat", sans-serif;
    font-size: $f-s-500;
    font-weight: $f-w-800;
    color: $clr-dark;

    transition: background 0.6s ease;

    &:hover {
      background: $clr-primary;

      color: $clr-secondary-dark;
    }

    a {
      font-weight: $f-w-800;
    }
  }
}

.whats {
  padding: 5em 0;
  background-color: $clr-white;
  border-bottom: 0.1em solid $clr-dark;

  h3 {
    width: 4em;
    padding-bottom: 0.1em;
    border-bottom: 0.1rem solid $clr-dark;

    font-family: "Great Vibes", cursive;
    font-size: $f-s-1000;
  }

  p {
    padding-top: 2em;
  }

  &__container {
    display: flex;
    justify-content: center;
    gap: 2em;
  }

  &__text {
    width: 40%;
    font-family: "Montserrat", sans-serif;
  }

  &__images {
    display: flex;
    align-items: center;
    gap: 1em;

    width: 40%;
    &--central {
      display: flex;
      flex-direction: column;
      gap: 1em;
    }
  }
}

.plan {
  margin: 0 auto;
  padding: 5em 0;
  border-bottom: 0.1em solid $clr-dark;

  background-color: $clr-primary;

  h3 {
    width: 3.2em;
    padding-bottom: 0.1em;
    border-bottom: 0.1rem solid $clr-dark;

    font-family: "Great Vibes", cursive;
    font-size: $f-s-1000;
  }

  &__container {
    width: 80%;
    margin: 0 auto;
  }

  &__details {
    display: flex;
    justify-content: center;
    gap: 4em;

    padding-top: 2em;

    font-family: "Montserrat", sans-serif;

    h4 {
      font-size: $f-s-500;
      font-weight: $f-w-600;
    }

    &--left {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 6em;

      width: 40%;
    }
    &--line {
      border-left: 0.1em solid $clr-dark;
    }
    &--right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      gap: 6em;

      width: 40%;

      span {
        font-family: "Great Vibes", cursive;
        font-size: $f-s-800;
      }
    }
    &--last-span {
      padding-top: 0.8em;
    }
  }
}

.venue {
  margin: 0 auto;
  padding: 5em 0;
  background-color: $clr-white;

  h3 {
    width: 4.2em;
    padding-bottom: 0.1em;
    border-bottom: 0.1rem solid $clr-dark;

    font-family: "Great Vibes", cursive;
    font-size: $f-s-1000;
  }

  &__container {
    width: 80%;
    margin: 0 auto;
  }

  &__content {
    display: flex;
    justify-content: space-around;

    padding-top: 2em;

    font-family: "Montserrat", sans-serif;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1em;

    font-family: 'Montserrat', sans-serif;

    span {
      font-weight: 600;
    }

    p:first-child {
      padding-bottom: 2em;
      font-size: $f-s-480;
    }
  }
}
