@use "../abstracts/colors" as *;
@use "../abstracts/fonts" as *;
@use "../abstracts/typography" as *;
@use "../abstracts/mixins" as *;

.hero {
  margin: 0 auto;
  padding-top: 15em;
  padding-bottom: 5em;
  border-bottom: 0.1em solid $clr-dark;

  background-color: $clr-primary;

  @include tablet {
    padding-top: 7em;
  }

  h1 {
    padding-bottom: 0.7em;
    font-family: "Great Vibes", cursive;
    font-size: $f-s-3000;

    @include tablet {
      font-size: $f-s-2000;
    }
  }

  &__title {
    text-align: center;
  }

  &__date {
    display: flex;
    justify-content: center;

    max-width: 40em;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 3em;

    font-family: "Montserrat", sans-serif;

    @include tablet {
      flex-direction: column;
      align-items: center;
    }
    span {
      width: 20vw;
      padding: 0.7em 0;

      font-size: $f-s-500;
      color: $clr-dark;
      text-align: center;

      border-top: 0.1em solid $clr-dark;
      border-bottom: 0.1em solid $clr-dark;

      @include tablet {
        width: 40vw;
      }
    }

    span:first-child {
      @include tablet {
        border-bottom: 0;
      }
    }
  }

  &__button {
    display: flex;
    justify-content: center;

    max-width: 15em;
    width: 20vw;
    margin: 0 auto;
    padding: 1em 0;
    border: 0.1em solid $clr-dark;
    background: $clr-secondary;

    font-family: "Montserrat", sans-serif;
    font-size: $f-s-500;
    font-weight: $f-w-800;
    color: $clr-dark;

    transition: background 0.6s ease;

    @include tablet {
      width: 70vw;
    }

    &:hover {
      background: $clr-primary;

      color: $clr-secondary-dark;
    }

    a {
      font-weight: $f-w-800;
    }
  }
}

.whats {
  padding: 5em 0;
  background-color: $clr-white;
  border-bottom: 0.1em solid $clr-dark;

  h3 {
    width: 4em;
    padding-bottom: 0.1em;
    border-bottom: 0.1rem solid $clr-dark;

    font-family: "Great Vibes", cursive;
    font-size: $f-s-1000;
  }

  p {
    padding-top: 2em;

    letter-spacing: 0.02em;
    line-height: 1.7em;
  }

  &__container {
    display: flex;
    justify-content: space-between;

    max-width: 1200px;
    width: 80%;
    margin: 0 auto;

    @include tablet {
      flex-direction: column;
      gap: 2em;
    }
  }

  &__text {
    width: 40%;
    font-family: "Montserrat", sans-serif;

    @include tablet {
      width: 100%;
    }
  }

  &__images {
    display: flex;
    align-items: center;
    gap: 1em;

    width: 50%;

    @include tablet {
      width: 100%;
    }

    &--central {
      display: flex;
      flex-direction: column;
      gap: 1em;

      @include tablet {
        display: none;
      }
    }
  }
}

.plan {
  margin: 0 auto;
  padding: 5em 0;
  border-bottom: 0.1em solid $clr-dark;

  background-color: $clr-primary;

  h3 {
    width: 3.2em;
    padding-bottom: 0.1em;
    border-bottom: 0.1rem solid $clr-dark;

    font-family: "Great Vibes", cursive;
    font-size: $f-s-1000;
  }

  &__container {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;

    @include tablet {
      display: none;
    }
  }

  &__details {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 2em;

    font-family: "Montserrat", sans-serif;

    h4 {
      display: flex;
      align-items: center;

      font-size: $f-s-500;
      font-weight: $f-w-600;

      height: 10vh;
    }

    p {
      display: flex;
      align-items: center;

      height: 10vh;
    }

    &--left {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      width: 40%;
    }

    &--line {
      height: 50vh;
      margin: 0 2.5em;
      border-right: 0.1em solid $clr-dark;
    }

    &--right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      width: 40%;

      p {
        display: flex;
        align-items: center;

        padding-top: 2em;


        height: 10vh;
      }

      .photo {
        margin-top: 1em;
      }

      span {
        display: flex;
        align-items: center;

        height: 10vh;

        font-family: "Great Vibes", cursive;
        font-size: $f-s-800;
      }
    }
  }

  &__mobile {
    display: none;
    justify-content: center;

    font-family: "Montserrat", sans-serif;

    h4 {
      font-size: $f-s-500;
      font-weight: $f-w-600;
    }

    span {
      font-family: "Great Vibes", cursive;
      font-size: $f-s-600;
    }

    svg {
      width: 10%;
    }

    @include tablet {
      display: flex;
      flex-direction: column;

      width: 80%;
      margin: 0 auto;
    }

    &--container {
      display: flex;
      flex-direction: column;
      gap: 4em;

      padding-top: 2em;
    }

    &--start {
      display: flex;
      justify-content: center;
      align-items: center;

      h4 {
        width: 50%;
      }
      span {
        width: 50%;
        text-align: end;
      }
    }

    &--dress {
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        padding-right: 2em;
      }
    }

    &--camera {
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        padding-left: 2em;
      }
    }

    &--food {
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        padding-right: 2em;
      }
    }

    &--dance {
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        padding-left: 2em;
      }
    }

    &--end {
      display: flex;
      justify-content: center;
      align-items: center;

      h4 {
        width: 50%;
      }

      span {
        width: 50%;
        padding-top: 0;

        text-align: end;
      }
    }
  }
}

.venue {
  margin: 0 auto;
  padding: 5em 0;
  background-color: $clr-white;

  @include tablet {
    padding-bottom: 10em;
  }

  h3 {
    width: 4.2em;
    padding-bottom: 0.1em;
    border-bottom: 0.1rem solid $clr-dark;

    font-family: "Great Vibes", cursive;
    font-size: $f-s-1000;
  }

  &__container {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
  }

  &__content {
    display: flex;
    justify-content: space-around;

    padding-top: 2em;

    font-family: "Montserrat", sans-serif;

    @include tablet {
      flex-direction: column;
    }
  }

  &__map {
    width: 50%;

    @include tablet {
      width: 100%;
      padding-bottom: 3em;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1em;

    width: 40%;

    font-family: "Montserrat", sans-serif;

    @include tablet {
      width: 100%;
    }

    span {
      font-size: $f-s-500;
      font-weight: 600;
    }

    p:first-child {
      font-size: $f-s-440;
      padding-bottom: 0.3em;
    }

    &--top {
      padding-bottom: 1em;
    }

    &--bottom { 
      font-size: $f-s-440;
      font-weight: $f-w-300;
    }
  }
}
